.gourmet-body
{
  background-image: url(../img/background-image.jpg);
  background-size: 100vh 100vh;  
}

.grid-container
{
  background-color: rgb(235, 202, 170);
}


.title, .slogan
{
  text-align: right;
}


.slogan
{
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.div-title, .div-slogan
{
  margin-left: 15px;
  padding-right: 10px;
  border-right: 1px solid gray;
}


.left-panel
{
  background-color: #B4C7E0;
  width: 28% !important;
}


.right-panel
{
  background-color: #FFCC99;
}


.left-panel, .right-panel
{
  margin: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}


/*Search Box*/
.buscador .form-icons .input-group-label 
{
  background-color: #1779ba;
  border-color: #1779ba;
}


.buscador .form-icons .input-group-field 
{
  border-color: #1779ba;
}


.buscador .form-icons .fa 
{
  color: white;
  width: 1rem;
}


.favoritos .thumbnail
{
  height: 100px;
  width: 100px;
}


.favoritos, .historial
{
  margin: 10px 5px 10px 5px !important;
}


.img-titular
{
  width: 90%;
  text-align: center;
}


.input-group
{
  padding: 10px 10px;
}


.comment-button
{
  float: right;
}


.primer-titular
{
  margin: 5px 5px 15px 5px !important;
}


.primer-seccion
{
  border-bottom: 1px solid gray;
}


.primer-titular, .segundo-titular
{
  padding: 0px 5px 0px 5px !important;
  border-radius: 2px;
}


.segundo-titular
{
  margin: 0px 5px 0px 5px !important;
}


.comentarios
{
  margin: 5px !important;
}


.des-coment
{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 5px !important;
  border-radius: 5px;
  border: 1px solid gray;
}