body
{
  background-color: #9ACD32;
}

h1
{
  text-align: center;
}

.contenedor
{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

table, thead, td, tr
{
  border: 1px solid black;
}

.cabecera
{
  text-align: center;
}

