/*Estilo para la sección principla*/
.Sector_Central
{
  background-color: #82C3A6;
  width: 100%;
  height: 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

/*Estilo para la imagen principal*/
.Sector_Central img
{
  width: 90%;
  height: 50%;
  box-shadow: 2px 2px 0px 0px rgb(2, 1, 10);
  margin: 1vw;
}

/*Estilo para la sección secundaria*/
.Sector_Secundario
{
  background-color: #D5C75F;
  width: 100%;
}

/*Estilo para las imagenes secundarias*/
.Sector_Secundario div img
{
  width: 90%;
  height: 70%;
  margin: 1vw;
  box-shadow: 2px 2px 0px 0px rgb(2, 1, 10);
}

.Sector_Paisajes img:hover
{
  transform: rotate(10deg);
}

.Sector_Retratos img:hover
{
  transform: translate(20px,-5px);
}

.Sector_Secundario div a
{
  font-size: 1.5em;
}

/*Media querie para desktop*/
@media only screen and (min-width: 900px)
{

  /*Estilo para la sección secundaria*/
  .Sector_Secundario
  {
    display: flex;
  	flex-direction: row;
  }

  .Sector_Secundario div
  {
  	text-align: center;
    width: 50%;
  }

}


/*Media querie para movil*/
@media only screen and (max-width: 900px)
{

  /*Estilo para la sección secundaria*/
  .Sector_Secundario
  {
    display: flex;
  	flex-direction: column;
  }

  .Sector_Secundario div
  {
  	text-align: center;
  }

}
