/*Estilo para la pagina principal*/
html
{
  background-color: #02010A;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/*Estilo para la cabecera*/
header
{
  background-color: #5B7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/*Estilo para el titulo*/
.Titulo
{
  color: white;
  text-align: left;
  text-shadow: 2px 2px 2px #02010A;
  margin-left: 20px;
}

/*Estilo para el menu*/
.Menu
{
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  word-spacing: 10px;
  margin-right: 20px;
}

/*Estilo para la seccion de la imagen central*/
.Imagen_Central
{
  background-color: #82C3A6;
  width: 100%;
  text-align: center;
}

/*Estilo para la seccion de imagen secundaria*/
.Imagenes_Secundarias
{
  background-color: #D5C75F;
  width: 100%;
  height: 40%;
  border: 1px;
}

/*Estilo para la imagen de la izquierda*/
.Imagen_Paisajes:hover
{
  transform: rotate(10deg);
  /*color de sombra #82C3A6*/
  border: 2px;
}

/*Estilo para la imagen de la derecha*/
.Imagen_Retratos:hover
{
  transform: translate(20px,-5px);
  /*color de sombra #82C3A6*/
  border: 2px;
}

/*Estilo para el pie de pagina*/
.Pie_Pagina
{
  background-color: #C6D5C5;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

/*Media querie para desktop*/
@media only screen and (min-width: 900px)
{
  .Imagenes_Secundarias
      {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
      }

  #Imagenes
      {
        width: 30%;
        margin: 20px;
      }

  .Pie_Pagina
      {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
      }
}

/*Media querie para movil*/
@media only screen and (max-width: 900px)
{
  .Imagenes_Secundarias
      {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
      }

    #Imagenes
      {
        width: 30%;
        margin: 20px;
      }
}
